.body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
}

#logo {
    width: 100px;
    height: 100px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
}

.right {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-size: 18px;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    gap: 85px;
    padding: 105px;
}

.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    gap: 8px;
}

.big {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.small {
    font-size: 18px;
    color: #e5e7eb;
}

.top {
    background-color: rgb(72, 132, 229);
    color: #f9faf8;
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 7px;
}

#water {
    width: 375px;
    height: 200px;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding-bottom: 50px;
}


.items {
    display: flex;
    justify-content: center;
}

.info img {
    width: 175px;
    height: 175px;
    object-fit: cover;
}

.items {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    padding: 50px;
}

.content {
    width: 700px;
    height: auto;
    font-size: 36px;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.who {
    font-size: 18px;
    font-weight: bolder;
    width: 1000px;
    display: flex;
    justify-content: right;
}

.sign {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: #3882f6;
    gap: 30px;
    width: 800px;
    height: 100px;
    border-radius: 7px;
}

.call {
    display: flex;
    flex-direction: column;
}

.call .big {
    font-size: 20px;
    font-weight: bold;
}

.call .small {
    font-size: 18px;
}

.bot {
    background-color: transparent;
    color: #f9faf8;
    width: 100px;
    height: 25px;
    border-color: #f9faf8;
    border-radius: 7px;
    border-style: solid;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #f9faf8;
}
